*.o
*.patch
*.pyc
*.zip
build
build-stamp
debian/files
debian/gyparody.debhelper.log
debian/gyparody.postinst.debhelper
debian/gyparody.prerm.debhelper
debian/gyparody.substvars
debian/gyparody
firmware/controllers/applet/
