Source: gyparody
Section: unknown
Priority: extra
Maintainer: Brandon Edens <brandon@as220.org>
Build-Depends: debhelper (>= 7), python-all (>= 2.5.4-1~), python-setuptools (>= 0.6c5-1~), python-yaml
Standards-Version: 3.8.1
Homepage: http://brandonedens.org/git/gyparody.git/

Package: gyparody
Architecture: any
Depends: ${python:Depends}, python-yaml
Description: Gyparody software.
 Software for running gyparody a game for the whole family.

